<div class="container-lg">
    <h1 class="portada">Inventario</h1>
    <a class="btn btn-primary" [routerLink]="['agregar']">Nuevo</a>
    <div class="card" style="width: 18rem;" *ngFor="let p of productos">
        <img [src]="p.imagenes[0]" alt="">
        <div class="card-body">
            <h5 class="card-title">Codigo: {{p.codigo}}</h5>
            <p class="card-text">{{p.descripcion}}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" (click)="editarProducto(p)">Editar</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar Art: {{p.codigo}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Esta seguro que desea eliminar este articulo?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                                <!-- <button type="button" class="btn btn-primary" (click)="eliminarProducto(p.codigo)" data-bs-dismiss="modal">Eliminar</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
