<div class="container-sm">
    <form>
        <div class="mb-3">
            <label for="codigoprod" class="form-label">Codigo</label>
            <input type="number" class="form-control" id="codigoprod" aria-describedby="Codigo">
        </div>
        <div class="mb-3">
            <label for="nombreprod" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreprod">
        </div>
        <div class="mb-3">
            <label for="precioprod" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precioprod">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
