<div class="container-lg">
    <h1 class="portada">Inventario</h1>
    <button type="button" class="btn btn-primary" [routerLink]="['agregar']">Nuevo</button>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"></p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-primary">Eliminar</button>
        </div>

        </div>
    </div>
</div>
